body{
    background-color: #384B70;
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav-div{
    display: flex;
    flex-direction: row;
    color: #FCFAEE;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0%;
}
header{
    padding: 0;
    margin: 0;
}
nav{
    padding: 0;
    margin: 0;
}
a{
    color: #FCFAEE;
    text-decoration: none;
    font-weight: 550;
    font-size: 1.4rem;
}
.main{
    text-decoration: underline;
}
.section-m{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    color: #FCFAEE;
    margin: 10% auto;
    width: 80%;
}
img{
    max-width: 80%;
    margin-bottom: 5%;
}
@media(max-width:592px){
    .nav-div{
        color: #FCFAEE;
        height: 100px;
        justify-content: space-between;
        list-style: none;
        width: 80%;
        margin: 5% auto;
    }
    a{
        font-weight:bold;
        font-size: 1.1rem;
    }
}
@media(max-width:592px){
    a{
        font-weight:bold;
        font-size: 0.9rem;
    }
}

@media(max-width:430px){
    .nav-div{
        color: #FCFAEE;
        height: 100px;
        justify-content: space-between;
        list-style: none;
        width: 80%;
        margin: 5% auto;
    }
    a{
        font-weight:bold;
        font-size: 0.7rem;
    }
    .section-m{
        font-size: 1em;
    }
}
@media(max-width:367px){
    a{
        font-size: 0.5em;
    }
}