body{
    background-color: #384B70;
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    flex-direction: row;
    color: #FCFAEE;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    list-style: none;

}
header{
    padding: 0;
    margin: 0;
}
nav{
    padding: 0;
    margin: 0;
}
a{
    color: #FCFAEE;
    text-decoration: none;
    font-weight: 550;
    font-size: 1.4rem;
}
.shedule{
    text-decoration: underline;
}
img {
    max-width: 80%;
    height: auto;
    margin-left: 9%;
    margin-bottom: 5%;
}

@media(max-width:430px){
    ul{
        color: #FCFAEE;
        height: 100px;
        justify-content: space-between;
        list-style: none;
        width: 80%;
        margin: 5% auto;
    }
    a{
        font-weight:bold;
        font-size: 0.7rem;
    }
}